<div id="qos">
  <h1 class="page-header">
    QOS
  </h1>
  <div class='table-responsive'>
    {{#if noData}}
      <p>There is no data to display.</p>
    {{else}}
      {{#if count}}
        <table class='table table-striped tablesorter'>
          <thead>
            <tr>
              <th>Name</th>
              <th>Priority</th>
              <th>Walltime</th>
              <th>MaxJobs</th>
              <th>MaxSubmitJobs</th>
              <th>MaxTRESPerJob</th>
              <th>MinTRESPerJob</th>
              <th>MaxTRESMinsPerJob</th>
              <th>MaxTRESPerNode</th>
              <th>MaxTRESPerUser</th>
              <th>GrpWalltime</th>
              <th>GrpJobs</th>
              <th>GrpSubmitJobs</th>
              <th>GrpTRES</th>
              <th>GrpTRESMins</th>
              <th>GrpTRESRunMins</th>
              <th>PreemptMode</th>
              <th>PreemptionGraceTime</th>
            </tr>
          </thead>
          <tbody>
            {{#each qos}}
              <tr>
                <td>{{@key}}</td>
                <td>{{fixInfiniteNumber priority}}</td>
                <td>{{minutesToDelay (fixInfiniteNumber max_wall_pj)}}</td>
                <td>{{fixInfiniteNumber max_jobs_pu}}</td>
                <td>{{fixInfiniteNumber max_submit_jobs_pu}}</td>
                <td>{{fixInfiniteNumber max_tres_pj}}</td>
                <td>{{fixInfiniteNumber min_tres_pj}}</td>
                <td>{{fixInfiniteNumber max_tres_mins_pj}}</td>
                <td>{{fixInfiniteNumber max_tres_pn}}</td>
                <td>{{fixInfiniteNumber max_tres_pu}}</td>
                <td>{{minutesToDelay (fixInfiniteNumber grp_wall)}}</td>
                <td>{{fixInfiniteNumber grp_jobs}}</td>
                <td>{{fixInfiniteNumber grp_submit_jobs}}</td>
                <td>{{fixInfiniteNumber grp_tres}}</td>
                <td>{{fixInfiniteNumber grp_tres_mins}}</td>
                <td>{{fixInfiniteNumber grp_tres_run_mins}}</td>
                <td>{{preempt_mode}}</td>
                <td>{{minutesToDelay (fixInfiniteNumber grace_time)}}</td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      {{/if}}
    {{/if}}
  </div>
</div>
