<div id="partitions">
  <h1 class="page-header">
    Partitions
  </h1>
  <div class='table-responsive'>
    {{#if count}}
      <table class='table table-striped tablesorter'>
        <thead>
          <tr>
            <th>Name</th>
            <th>Default</th>
            <th>Nodes</th>
            <th>#Nodes</th>
            <th>#CPUs</th>
          </tr>
        </thead>
        <tbody>
          {{#each partitions}}
            <tr>
              <td>{{@key}}</td>
              <td>{{yesOrNo flags.Default}}</td>
              <td>{{nodes}}</td>
              <td>{{total_nodes}}</td>
              <td>{{total_cpus}}</td>
            </tr>
          {{/each}}
        </tbody>
      </table>
      {{else}}
        <p>There is no data to display.</p>
    {{/if}}
  </div>
</div>
