<div class="container-fluid">
  <div id="jobs" class="main">
    <h1 class="page-header">
      Jobs
    </h1>
    <div class="row">
      <div id='alloc-cores' class='col-xs-6 col-sm-2 col-md-2 placeholder'>
        <div class='plot-sub-div'>
          <div id='plot-alloc-cores' class='plot-div-small'></div>
        </div>
        <h4>Allocated cores</h4>
      </div>
      <div id='part-nodes' class='col-xs-6 col-sm-2 col-md-2 placeholder'>
        <div class='plot-sub-div'>
          <div id='plot-part-nodes' class='plot-div-small'></div>
        </div>
        <h4>Nodes/Partition</h4>
      </div>
      <div id='part-cores' class='col-xs-6 col-sm-2 col-md-2 placeholder'>
        <div class='plot-sub-div'>
          <div id='plot-part-cores' class='plot-div-small'></div>
        </div>
        <h4>Cores/Partition</h4>
      </div>
      <div id='qos-nodes' class='col-xs-6 col-sm-2 col-md-3 placeholder'>
        <div class='plot-sub-div'>
          <div id='plot-qos-nodes' class='plot-div-small'></div>
        </div>
        <h4>Nodes/QOS</h4>
      </div>
      <div id='qos-cores' class='col-xs-6 col-sm-2 col-md-3 placeholder'>
        <div class='plot-sub-div'>
          <div id='plot-qos-cores' class='plot-div-small'></div>
        </div>
        <h4>Cores/QOS</h4>
      </div>
    </div>
    <div class="row">
      <div class='table-responsive'>
        {{#if count}}
          <table class='table table-striped tablesorter'>
            <thead>
              <tr>
                <th>#</th>
                <th>User</th>
                <th>Nodes</th>
                <th>State</th>
                <th>Reason</th>
                <th>Start</th>
                <th>QOS</th>
                <th>Partition</th>
              </tr>
            </thead>
            <tbody>
              {{#each jobs}}
                <tr class="job-row" id="tr-job-{{@key}}" onClick="$(document).trigger('modal-job', { jobId: {{@key}} })">
                  <td>{{@key}}</td>
                  <td>{{login}} ({{username}})</td>
                  <td>{{printNodes nodes}}</td>
                  <td>{{job_state}}</td>
                  <td>{{printReason job_state state_reason}}</td>
                  <td>{{printStartTime start_time eligible_time job_state}}</td>
                  <td>{{qos}}</td>
                  <td>{{partition}}</td>
                </tr>
              {{/each}}
            </tbody>
          </table>
          {{else}}
            <p>There is no data to display.</p>
        {{/if}}
      </div>
    </div>
  </div>
</div>
